/* SAAT MENGGUNAKAN HURUF DITERAKHIR DIV GUNAKAN MARGIN-BOTTOM:0PX; ATAU MEMBERI DIA DIV ROW */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700');
body {
	width: 100% ;
	height: 100vh !important;
	position: relative;
	background-image: url(99-films-Rd18pDlzcik-unsplash.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat:no-repeat;
	backgrond-position:center;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	display:flex;
	justify-content:center;
	align-items:center;
}
h5 {	
text-align:center;

	}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.heading{
	color: #fff;
	z-index: 1;
  	width: 100%;
}
.heading h1{
	color: #ffffff;
	font-weight: 700;
	font-size: 50px;
	text-transform: uppercase;
	text-shadow:0px 0px 5px black;
}
.heading h3{
	color: ffffff;
}

/*** Preloaders ***/
#preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #201F1E none repeat scroll 0% 0%;
    display:flex;
	justify-content:center;
	align-items:center;
}
.socket {
    position: relative;
    width: auto;
    height: auto;
    margin: auto;
    display:block;
}
.socket img{
  display:block;
  margin:auto;
}
.socket h1{
	color:white;
	text-transform:uppercase;
	text-align:center;
	}
@keyframes ld-skew {

  0%, 50%, 100% { animation-timing-function: cubic-bezier(0.4,0,1,0.6) }

  25%, 75% {      animation-timing-function: cubic-bezier(0,0.4,0.6,1) }

    0% { transform: skewX(20deg) scale(1) }

   25% { transform: skewX(0deg) scale(0.9) }

   50% { transform: skewX(-20deg) scale(1) }

   75% { transform: skewX(0deg) scale(0.9) }

  100% { transform: skewX(20deg) scale(1) }

}

.ld.ld-skew {

  animation: ld-skew 1s infinite linear; ; 

}
