/* SAAT MENGGUNAKAN HURUF DITERAKHIR DIV GUNAKAN MARGIN-BOTTOM:0PX; ATAU MEMBERI DIA DIV ROW */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700');
body {
	margin:0;
	padding:0;
	width: 100% ;
	height: 100vh !important;
	background-image: url(99-films-Rd18pDlzcik-unsplash.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat:no-repeat;
	backgrond-position:center;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	display:flex;
	justify-content:center;
	align-items:center;
}
h5 {	
text-align:center;
	}
.heading{
	color: #fff;
	z-index: 1;
  	width: 100%;
}
.heading h1{
	color: #ffffff;
	font-weight: 700;
	font-size: 50px;
	text-transform: uppercase;
	text-shadow:0px 0px 5px black;
}
.heading h3{
	color: ffffff;
	font-size:19px;
}

/*** Preloaders ***/
#preloader {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #0F1215;
		z-index: 9999999;
		height: 100%;
		width: 100%;
	}
	#loader {
		position: absolute;
		width: 100px;
		height: 100px;
		padding: 0;
		background-color: #fb2a47;
		border-radius: 100%;
		-webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
		animation: sk-scaleout  1s alternate infinite ease-in-out;
	}
	@-webkit-keyframes sk-scaleout {
		0% {
			-webkit-transform: scale(0);
		}
		100% {
			-webkit-transform: scale(1);
			opacity: 0;
		}
	}
	@keyframes sk-scaleout {
		0% {
			-webkit-transform: scale(0);
			transform: scale(0);
		}
		100% {
			-webkit-transform: scale(1);
			transform: scale(1);
			opacity: 0;
		}
	}
